.newProductContainer {
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(221, 221, 221);
    border-left: 1px solid rgba(0, 0, 0, 0.158);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.product_preview {
    height: 150px;
}

.createProductFormImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-x: auto;
    padding: 20px 0;
}

.createProductFormImage>img {
    width: 3vmax;
    margin: 0 0.5vmax;
}


/* ------------------- */

.form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: auto;
    padding: 30px 20px;
    width: 35vw;
}

.title {
    color: #eee;
    font: 300 2.5rem "Roboto";
    text-align: center;
}

.input-container {
    height: 50px;
    position: relative;
    width: 100%;
}

.ic1 {
    margin-top: 40px;
}

.ic2 {
    margin-top: 30px;
}

.input {
    background-color: #303245;
    border-radius: 5px;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    font-size: 16px;
    height: 100%;
    outline: 0;
    padding: 4px 12px 0;
    width: 100%
}

.input:last-of-type {
    padding: 10px 10px !important;
}

.placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    /* transform-origin: 0 25%; */
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.input:focus~.placeholder,
.input:not(:placeholder-shown)~.placeholder {
    transform: translateY(-35px) translateX(-20px) scale(0.75);
}

.input:not(:placeholder-shown)~.placeholder {
    color: #808097;
}

.input:focus~.placeholder {
    /* color: #dc2f55; */
    color: #fff;
    font-size: 16px;
}

.submit {
    background-color: #b012d3;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 24px;
    height: 50px;
    margin-top: 38px;
    /* // outline: 0; */
    text-align: center;
    width: 100%;
}

.submit:active {
    background-color: #06b;
}


/* ------------------ */