.pakage {
    min-width: 10rem;
    padding: 10px;
    margin: 5px;
    background-color: #fff;
    border: 5px solid #930988;
    border-radius: 10px;
    cursor: pointer;
}

.pakage p {
    font-size: 14px;
}

.font__style {
    font-family: cursive;
}

.border__style {
    border: 2px solid lightpink;
    padding: 5px;
}

.centre {
    margin: 0px auto;
}

.submitReview {
    border: none;
    background-color: tomato;
    font: 500 0.7vmax "Roboto";
    border-radius: 20px;
    padding: 0.6vmax 2vmax;
    margin: 1vmax 0;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
    outline: none;
}

.submitReview:hover {
    background-color: rgb(197, 68, 45);
    transform: scale(1.1);
}

.submitDialog {
    display: flex;
    flex-direction: column;
}

.submitDialogTextArea {
    border: 1px solid rgb(209 204 204 / 92%);
    margin: 1vmax 0;
    outline: none;
    padding: 1rem;
    font: 300 1rem "Roboto";
}

.reviewsHeading {
    color: #000000be;
    font: 500 1.4vmax "Roboto";
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.226);
    padding: 1vmax;
    width: 20vmax;
    margin: auto;
    margin-bottom: 4vmax;
}

.reviews__title {
    font-size: 2rem;
    font-weight: 700;
    font-family: "Montserrat", "Sans-serif";
    color: black;
    padding: 1rem 0 2rem 0;
}

.reviews {
    display: flex;
    /* overflow: auto; */
    flex-wrap: wrap;
}

.reviewCard {
    flex: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.226);
    border: 1px solid rgba(56, 56, 56, 0.116);
    width: 20vmax;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    word-break: break-all;
    align-items: center;
    margin: 1vmax;
    padding: 1rem 0.5rem;
    box-shadow: 2px 2px 10px 0px rgb(104, 101, 103);
}

.reviewCard:hover {
    /* box-shadow: 10px 4px 12px 0px rgba(255, 255, 255, 0.4); */
    transform: translateY(-15%);
}

.reviewCard>img {
    width: 5vmax;
}

.reviewCard>p {
    margin-top: 8px;
    color: rgba(0, 0, 0, 0.836);
    font: 600 1.7vmax "Roboto";
}

.reviewCardComment {
    margin-top: 8px;
    color: rgba(0, 0, 0, 0.445);
    font: 300 1.5vmax cursive;
}

.noReviews {
    font: 400 2vmax "Gill Sans";
    text-align: center;
}